<h1>Productos: </h1>
<% @products.each do |product| %>
  <%= link_to product_path(product.id), class: 'product' do%>
    <p><%= product.title %></p>
    <p><%= product.price %></p>
    <p><%= product.description %></p>
  <%end%>
<% end %>

    